/*id #
class .*/

/*Text*/
	body{
	font-family:"Tahoma", Geneva, sans-serif;
	}

	#white{
	color: #0096EF;
	text-decoration:none;
	}

	#white:hover{
	color:#2DC964;
	}

	#dark{
	color:white;
	text-decoration:none;
	margin-left: 20px;
	margin-right: 10px;
	}

	#dark:hover{
	color:#0096EF;
	}

	#footer{
	color:#0096EF;
	text-decoration:none;
	}

	#footer:hover{
	color:#2DC964;
	}

	#p01{
		font-style: italic;
	}

	#back{
	color: black;
	text-decoration:none;
	}

	#back:hover{
	color:#0096EF;
	}

/*navigation*/
	#nav{
	border: 1px #404040 solid;
	text-align:right;
	color: white;
	background-color:#404040;
	}

/*header*/
	header{
	background-color:white;	
	}

	.logo{
	display: inline-block;
	height:100px;
	}

	ul.menulist li{
	text-align: right;
	color: white;
	display: inline-block;
	margin: 15px;
	vertical-align: middle;
	}

	@media screen and (min-width: 0px) and (max-width: 770px){

	header ul.menulist li{
	display: block;
	width: 50%;
	text-align: left;
	margin: 5px;
	}
	}

/*display_image*/
	.header{
	color:white;
	width:50%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	resize:both;
	overflow: auto;
	text-align:center;
	line-height:50px;
	}

	#display_image{
	position: relative;
	height: 500px;
	background-image: url("../images/header_image1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	}

	h1{
	font-size:40px;
	}

	h2{
	text-decoration: underline;
	}

/*moto*/
	#moto{
	border: 1px #0096EF solid;
	background-color:#0096EF;
	text-align:center;
	color: white;
	}

/*profile*/
	#profile{
	border: 1px #E3E5DF solid;
	text-align:center;
	background-color:#E3E5DF;
	}

	#h301 {
	color:#0096EF;
	}

	#h302 {
	color:#0096EF;
	}

	#h303 {
	color:#0096EF;
	}

	#h304 {
	color:#0096EF;
	}

	#h305 {
	color:#0096EF;
	}

	#profile_article{
	border: 30px white solid;
	background-color:white;
	margin:3%;
	}

	label {
  	cursor: pointer;
	}

	#menu-toggle {
  	display: none; /* hide the checkbox */
	}

	#menu {
  	display: none;
	}

	#menu-toggle:checked + #menu {
  	display: block;
	}

	label {
  	cursor: pointer;
	}

	#item-toggle {
  	display: none; /* hide the checkbox */
	}

	#item {
  	display: none;
	}

	#item-toggle:checked + #item {
  	display: block;
	}

	label {
  	cursor: pointer;
	}

	#further-toggle {
  	display: none; /* hide the checkbox */
	}

	#further {
  	display: none;
	}

	#further-toggle:checked + #further {
  	display: block;
	}

/*portfolio*/
	#portfolio{	
	text-align:center;
	padding: auto
	margin: 0px;
	}
													
	li.portfolio_list{
	display: inline;
	}
													
	.float_center{
	background-color: white;
	position: relative;
	left: -50%;
	text-align: left;	
	}

	.float_center> .child{
	position: relative;
	left: 50%;
	}
	
/*for sale*/
	#for_sale{	
	border: 6px #E3E5DF solid;
	text-align:center;
	background-color:#E3E5DF;
	}
	
/*house_and_land_packages*/
	#for_sale{	
	text-align:center;
	padding: auto
	margin: 0px;												
	}

	li.packageslist{
	display: inline;
	background-color: white;
	}
													
	.floatcenter2{
	position: relative;
	left: -50%;
	text-align: left;	
	}

	.floatcenter2> .child3{
	position: relative;
	left: 50%;
	}

	ul.child3 li{
	text-align: left;
	width: 260px;
	display: inline-block;
	margin: 10px auto;
	padding: 10px;
	vertical-align: top;
	}

/*land_available*/
	li.landlist{
	display: inline;
	background-color: white;
	}
													
	.floatcenter3{
	position: relative;
	left: -50%;
	text-align: left;	
	}

	.floatcenter3> .child4{
	position: relative;
	left: 50%;
	}

	ul.child4 li{
	text-align: left;
	width: 260px;
	display: inline-block;
	margin: 10px auto;
	padding: 10px;
	vertical-align: top;
	}

/*latest_news*/
	#latestnews{	
	text-align:center;
	padding: auto
	margin: 0px;												
	}

	li.latestnewslist{
	display: inline;
	}
													
	.floatcenter{
	/*float: right;*/
	background-color: white;
	position: relative;
	left: -50%;
	text-align: left;	
	}

	.floatcenter> .child2{
	position: relative;
	left: 50%;
	}

	ul.child2 li{
	text-align: left;
	width: 260px;
	display: inline-block;
	margin: 10px auto;
	padding: 10px;
	vertical-align: top;
	}

/*footer*/
	footer{
	border: 1px #404040 solid;
	background-color:#404040;		
	}

	.bluelogo{
	display: inline-block;
	vertical-align:center;
	margin-left:70px;
	}

	ul.get_in_touch li{
	text-align: left;
	color: white;
	width: 350px;
	display: inline-block;
	margin: auto;
	padding: auto;
	}
